*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(12, 9, 9);
    line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to right, rgb(248, 10, 50),rgb(222, 143, 156));
    color: white;
    padding: 15px 10px;
}
header .logo{
    font-size:xx-large;
    font-weight:bold;
    margin-left: 150px;
    color:white;
    font-family: cursive;
}
header .head ul{
    display: flex;
    list-style: none;
    gap: 10px;

}
.head li a{
    color: white;
    text-decoration: none;
    transition: 0.2s;

}
.head li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 75vh;
    color: blanchedalmond;
    background:linear-gradient(to right, lightpink, rgb(244, 71, 100) );
    padding: 20px;
}
.button{
    width: 20%;
    height: 15%;
    background: linear-gradient(to right,pink,rgb(244,71,100));
    border: none;
    border-radius: 5px;
    color:rgb(39, 37, 37);
    font-size: 2em;
    margin-top: 20px;
    padding: 12px 25px;
    cursor: pointer;
    text-align: center;
    margin-left: 40%;
    font-weight: bold;
}
.button:hover{
    background-color: red;
}
footer{
    background: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
footer .links a{
    color:rgb(7, 172, 227);

}
